@layer utilities {
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-5000px);
    }
  }

  .animate-star {
    animation-name: animStar;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  /* Utility classes for accessibility */
  .sr-only-focusable:focus {
    @apply not-sr-only absolute z-50 p-4 bg-background text-foreground border rounded;
  }
}