@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.bg-animation {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 940px 1360px #64748b, 1071px 539px #64748b, 1710px 1414px #64748b, 836px 299px #64748b,
    1944px 1420px #64748b, 253px 1449px #64748b, 1257px 1250px #64748b, 1588px 1830px #64748b,
    1077px 1204px #64748b, 273px 1081px #64748b, 1993px 766px #64748b, 1808px 479px #64748b, 917px 263px #64748b,
    663px 1820px #64748b, 342px 1988px #64748b, 727px 1250px #64748b, 636px 1666px #64748b, 692px 1112px #64748b,
    248px 1211px #64748b, 1422px 1121px #64748b, 881px 46px #64748b, 1531px 1977px #64748b, 1643px 1023px #64748b,
    684px 1071px #64748b, 1142px 1873px #64748b, 292px 1313px #64748b, 256px 1237px #64748b, 89px 912px #64748b,
    964px 1783px #64748b, 877px 760px #64748b, 1641px 1474px #64748b, 1492px 24px #64748b, 1776px 1642px #64748b,
    183px 602px #64748b, 1998px 62px #64748b, 1560px 367px #64748b, 1333px 995px #64748b, 704px 1815px #64748b,
    1809px 712px #64748b, 1503px 288px #64748b, 630px 556px #64748b, 1715px 125px #64748b, 353px 1878px #64748b,
    975px 333px #64748b, 1740px 1409px #64748b, 1341px 1871px #64748b, 1279px 1064px #64748b, 169px 874px #64748b,
    161px 528px #64748b, 1671px 1669px #64748b, 169px 632px #64748b, 547px 1724px #64748b, 1904px 110px #64748b,
    679px 1670px #64748b, 196px 123px #64748b, 786px 871px #64748b, 1840px 324px #64748b, 356px 967px #64748b,
    61px 549px #64748b, 99px 677px #64748b, 1719px 87px #64748b, 1713px 1990px #64748b, 1717px 1358px #64748b,
    108px 1187px #64748b, 51px 869px #64748b, 1461px 902px #64748b, 1034px 891px #64748b, 962px 1881px #64748b,
    1723px 595px #64748b, 479px 901px #64748b, 1546px 1823px #64748b, 285px 1208px #64748b, 1056px 347px #64748b,
    261px 988px #64748b, 466px 990px #64748b, 1657px 648px #64748b, 1249px 933px #64748b, 1552px 1555px #64748b,
    147px 62px #64748b, 292px 1157px #64748b, 1816px 423px #64748b, 1714px 757px #64748b, 1036px 961px #64748b,
    1955px 710px #64748b, 1842px 516px #64748b, 479px 1870px #64748b, 1579px 1445px #64748b, 1225px 1309px #64748b,
    1965px 566px #64748b, 1575px 1072px #64748b, 923px 329px #64748b, 651px 1514px #64748b, 865px 1100px #64748b,
    782px 1873px #64748b, 115px 299px #64748b, 14px 1668px #64748b, 1666px 1817px #64748b, 1096px 1068px #64748b,
    1462px 742px #64748b, 1384px 1750px #fff;
  -webkit-animation: animStar 150s linear infinite;
  -moz-animation: animStar 150s linear infinite;
  -ms-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 940px 1360px #64748b, 1071px 539px #64748b, 1710px 1414px #64748b, 836px 299px #64748b,
    1944px 1420px #64748b, 253px 1449px #64748b, 1257px 1250px #64748b, 1588px 1830px #64748b,
    1077px 1204px #64748b, 273px 1081px #64748b, 1993px 766px #64748b, 1808px 479px #64748b, 917px 263px #64748b,
    663px 1820px #64748b, 342px 1988px #64748b, 727px 1250px #64748b, 636px 1666px #64748b, 692px 1112px #64748b,
    248px 1211px #64748b, 1422px 1121px #64748b, 881px 46px #64748b, 1531px 1977px #64748b, 1643px 1023px #64748b,
    684px 1071px #64748b, 1142px 1873px #64748b, 292px 1313px #64748b, 256px 1237px #64748b, 89px 912px #64748b,
    964px 1783px #64748b, 877px 760px #64748b, 1641px 1474px #64748b, 1492px 24px #64748b, 1776px 1642px #64748b,
    183px 602px #64748b, 1998px 62px #64748b, 1560px 367px #64748b, 1333px 995px #64748b, 704px 1815px #64748b,
    1809px 712px #64748b, 1503px 288px #64748b, 630px 556px #64748b, 1715px 125px #64748b, 353px 1878px #64748b,
    975px 333px #64748b, 1740px 1409px #64748b, 1341px 1871px #64748b, 1279px 1064px #64748b, 169px 874px #64748b,
    161px 528px #64748b, 1671px 1669px #64748b, 169px 632px #64748b, 547px 1724px #64748b, 1904px 110px #64748b,
    679px 1670px #64748b, 196px 123px #64748b, 786px 871px #64748b, 1840px 324px #64748b, 356px 967px #64748b,
    61px 549px #64748b, 99px 677px #64748b, 1719px 87px #64748b, 1713px 1990px #64748b, 1717px 1358px #64748b,
    108px 1187px #64748b, 51px 869px #64748b, 1461px 902px #64748b, 1034px 891px #64748b, 962px 1881px #64748b,
    1723px 595px #64748b, 479px 901px #64748b, 1546px 1823px #64748b, 285px 1208px #64748b, 1056px 347px #64748b,
    261px 988px #64748b, 466px 990px #64748b, 1657px 648px #64748b, 1249px 933px #64748b, 1552px 1555px #64748b,
    147px 62px #64748b, 292px 1157px #64748b, 1816px 423px #64748b, 1714px 757px #64748b, 1036px 961px #64748b,
    1955px 710px #64748b, 1842px 516px #64748b, 479px 1870px #64748b, 1579px 1445px #64748b, 1225px 1309px #64748b,
    1965px 566px #64748b, 1575px 1072px #64748b, 923px 329px #64748b, 651px 1514px #64748b, 865px 1100px #64748b,
    782px 1873px #64748b, 115px 299px #64748b, 14px 1668px #64748b, 1666px 1817px #64748b, 1096px 1068px #64748b,
    1462px 742px #64748b, 1384px 1750px #fff;
}

#stars4 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #64748b, 1196px 1119px #64748b, 646px 740px #64748b, 335px 645px #64748b,
    1119px 1452px #64748b, 176px 1870px #64748b, 639px 1711px #64748b, 647px 1388px #64748b, 1516px 1108px #64748b,
    464px 66px #64748b, 331px 344px #64748b, 772px 1189px #64748b, 1516px 1850px #64748b, 1500px 1463px #64748b,
    1275px 876px #64748b, 1107px 645px #64748b, 977px 478px #64748b, 583px 1179px #64748b, 284px 395px #64748b,
    1220px 461px #64748b, 1160px 249px #64748b, 196px 865px #64748b, 670px 1915px #64748b, 1449px 382px #64748b,
    1191px 546px #64748b, 1329px 605px #64748b, 1945px 458px #64748b, 995px 749px #64748b, 1495px 861px #64748b,
    708px 1731px #64748b, 348px 653px #64748b, 548px 1298px #64748b, 1606px 990px #64748b, 1049px 1204px #64748b,
    253px 1501px #64748b, 1154px 166px #64748b, 1087px 104px #64748b, 1034px 1161px #64748b, 1681px 462px #64748b,
    577px 1897px #64748b, 193px 1901px #64748b, 1701px 1755px #64748b, 864px 1297px #64748b, 800px 1289px #64748b,
    676px 28px #64748b, 185px 1341px #64748b, 379px 1151px #64748b, 1224px 1725px #64748b, 280px 541px #64748b,
    473px 1196px #64748b, 921px 1628px #64748b, 969px 432px #64748b, 1475px 758px #64748b, 1195px 993px #64748b,
    876px 1840px #64748b, 1274px 1689px #64748b, 1977px 1101px #64748b, 837px 527px #64748b, 1785px 1610px #64748b,
    1650px 1843px #64748b, 1127px 1508px #64748b, 401px 1050px #64748b, 51px 1105px #64748b, 545px 880px #64748b,
    1786px 1672px #64748b, 318px 260px #64748b, 568px 254px #64748b, 1026px 1527px #64748b, 1242px 852px #64748b,
    1785px 982px #64748b, 1318px 1071px #64748b, 398px 1061px #64748b, 1509px 257px #64748b, 599px 928px #64748b,
    1195px 1800px #64748b, 1254px 906px #64748b, 141px 26px #64748b, 1384px 1502px #64748b, 476px 767px #64748b,
    1973px 722px #64748b, 1339px 1031px #64748b, 778px 818px #64748b, 213px 1320px #64748b, 184px 221px #64748b,
    983px 1911px #64748b, 923px 1439px #64748b, 1936px 581px #64748b, 1105px 625px #64748b, 325px 729px #64748b,
    1475px 204px #64748b, 1483px 1564px #64748b, 1327px 1272px #64748b, 1187px 1944px #64748b,
    1945px 1471px #64748b, 116px 960px #64748b, 1660px 1610px #64748b, 412px 1022px #64748b, 1552px 1516px #64748b,
    1517px 1892px #64748b, 306px 829px #64748b, 1416px 462px #64748b, 1575px 1460px #64748b, 424px 1500px #64748b,
    1530px 1169px #64748b, 1388px 1608px #64748b, 185px 416px #64748b, 634px 1446px #64748b, 767px 479px #64748b,
    71px 426px #64748b, 1937px 145px #64748b, 1955px 1312px #64748b, 1811px 611px #64748b, 1145px 569px #64748b,
    1460px 676px #64748b, 131px 1858px #64748b, 1557px 473px #64748b, 735px 130px #64748b, 112px 1531px #64748b,
    1312px 305px #64748b, 409px 1032px #64748b, 149px 1964px #64748b, 535px 1215px #64748b, 1382px 630px #64748b,
    1437px 1368px #64748b, 362px 1181px #64748b, 388px 181px #64748b, 274px 1287px #64748b, 1858px 1414px #64748b,
    661px 1935px #64748b, 675px 1205px #64748b, 1829px 1725px #64748b, 1937px 1145px #64748b, 237px 908px #64748b,
    1059px 1185px #64748b, 824px 1248px #64748b, 1167px 1730px #64748b, 180px 1961px #64748b, 1663px 203px #64748b,
    374px 221px #64748b, 724px 1883px #64748b, 970px 1362px #64748b, 832px 505px #64748b, 313px 233px #64748b,
    1909px 597px #64748b, 434px 201px #64748b, 587px 995px #64748b, 1833px 623px #64748b, 1464px 561px #64748b,
    231px 593px #64748b, 1558px 1433px #64748b, 1986px 1767px #64748b, 1753px 1728px #64748b, 1153px 1623px #64748b,
    249px 229px #64748b, 1503px 1186px #64748b, 1784px 137px #64748b, 841px 403px #64748b, 1400px 354px #64748b,
    197px 499px #64748b, 1188px 681px #64748b, 158px 391px #64748b, 443px 1099px #64748b, 723px 1445px #64748b,
    1408px 1235px #64748b, 1908px 195px #64748b, 271px 891px #64748b, 469px 1693px #64748b, 580px 11px #64748b,
    1533px 70px #64748b, 859px 761px #64748b, 1510px 1844px #64748b, 421px 558px #64748b, 1132px 1453px #64748b,
    757px 1987px #64748b, 212px 293px #64748b, 569px 323px #64748b, 1404px 1394px #64748b, 252px 1386px #64748b,
    1668px 1857px #64748b, 123px 1684px #64748b, 105px 490px #64748b, 1083px 1769px #64748b, 1071px 1953px #64748b,
    1271px 1159px #64748b, 699px 1491px #64748b, 1744px 1997px #64748b, 1868px 1973px #64748b,
    1438px 1449px #64748b, 1222px 1921px #64748b, 1328px 1210px #64748b, 438px 873px #64748b, 809px 780px #64748b,
    491px 1524px #64748b, 447px 1830px #64748b, 927px 1936px #64748b, 564px 691px #64748b, 1784px 1747px #64748b,
    1978px 1722px #64748b, 1599px 1480px #64748b, 1276px 729px #64748b, 731px 1174px #64748b, 1586px 1711px #64748b,
    451px 1340px #64748b, 1075px 1899px #64748b, 13px 575px #64748b, 309px 1340px #64748b, 981px 183px #64748b,
    248px 1315px #64748b, 849px 80px #64748b, 1754px 1540px #64748b, 73px 1432px #64748b, 1208px 1828px #64748b,
    65px 575px #64748b, 1098px 730px #64748b, 127px 1358px #64748b, 185px 19px #64748b, 1222px 1679px #64748b,
    1122px 315px #64748b, 1906px 452px #64748b, 761px 284px #64748b, 813px 492px #64748b, 1344px 843px #64748b,
    118px 1834px #64748b, 1620px 359px #64748b, 1755px 1246px #64748b, 299px 1076px #64748b, 1746px 158px #64748b,
    6px 1635px #64748b, 143px 190px #64748b, 101px 468px #64748b, 137px 971px #64748b, 1221px 1929px #64748b,
    1752px 650px #64748b, 1635px 1761px #64748b, 1522px 833px #64748b, 908px 153px #64748b, 1044px 350px #64748b,
    1151px 1940px #64748b, 822px 210px #64748b, 1774px 310px #64748b, 796px 1447px #64748b, 1069px 1903px #64748b,
    217px 565px #64748b, 662px 1370px #64748b, 1876px 1570px #64748b, 847px 46px #64748b, 1042px 1689px #64748b,
    1584px 1434px #64748b, 1791px 908px #64748b, 973px 908px #64748b, 793px 747px #64748b, 122px 483px #64748b,
    1137px 1374px #64748b, 1757px 1791px #64748b, 513px 225px #64748b, 63px 731px #64748b, 1179px 1926px #64748b,
    346px 18px #64748b, 589px 175px #64748b, 87px 302px #64748b, 380px 1295px #64748b, 450px 921px #64748b,
    1667px 1973px #64748b, 1495px 1373px #64748b, 1462px 1850px #64748b, 540px 288px #64748b, 1208px 1051px #64748b,
    1554px 1095px #64748b, 1009px 1516px #64748b, 181px 572px #64748b, 165px 387px #64748b, 549px 1835px #64748b,
    960px 16px #64748b, 1360px 403px #64748b, 1251px 43px #64748b, 1905px 1813px #64748b, 1106px 866px #64748b,
    1809px 277px #64748b, 1828px 1720px #64748b, 295px 1610px #64748b, 523px 166px #64748b, 1069px 692px #64748b,
    1292px 217px #64748b, 11px 1721px #64748b, 99px 1045px #64748b, 51px 1584px #64748b, 1053px 266px #64748b,
    1287px 1235px #64748b, 747px 1722px #64748b, 1542px 736px #64748b, 1256px 18px #64748b, 102px 609px #64748b,
    586px 1339px #64748b, 1843px 1697px #64748b, 824px 1687px #64748b, 1124px 882px #64748b, 395px 501px #64748b,
    1456px 672px #64748b, 1472px 1648px #64748b, 1326px 1164px #64748b, 777px 1672px #64748b, 81px 345px #64748b,
    91px 386px #64748b, 243px 411px #64748b, 1560px 90px #64748b, 6px 1771px #64748b, 1601px 616px #64748b,
    1220px 1808px #64748b, 1160px 836px #64748b, 246px 1777px #64748b, 456px 863px #64748b, 97px 1138px #64748b,
    1811px 942px #64748b, 213px 414px #64748b, 891px 392px #64748b, 1044px 927px #64748b, 1856px 216px #64748b,
    957px 347px #64748b, 1486px 406px #64748b, 838px 912px #64748b, 803px 361px #64748b, 564px 826px #64748b,
    1597px 949px #64748b, 1206px 289px #64748b, 33px 1035px #64748b, 1762px 1377px #64748b, 789px 1815px #64748b,
    1594px 1342px #64748b, 1668px 880px #64748b, 1539px 1581px #64748b, 1547px 53px #64748b, 861px 1433px #64748b,
    693px 1618px #64748b, 1762px 782px #64748b, 1568px 682px #64748b, 1126px 1762px #64748b, 1242px 134px #64748b,
    495px 959px #64748b, 1606px 219px #64748b, 1878px 1415px #64748b, 1652px 797px #64748b, 782px 1903px #64748b,
    1774px 1133px #64748b, 1430px 408px #64748b, 265px 394px #64748b, 890px 336px #64748b, 1051px 311px #64748b,
    461px 1559px #64748b, 1931px 91px #64748b, 1160px 380px #64748b, 1442px 1058px #64748b, 1157px 364px #64748b,
    586px 227px #64748b, 1365px 715px #64748b, 1658px 1655px #64748b, 1923px 1664px #64748b, 1023px 1844px #64748b,
    1939px 1367px #64748b, 1203px 1305px #64748b, 359px 642px #64748b, 1056px 425px #64748b, 787px 202px #64748b,
    1609px 1850px #64748b, 1964px 200px #64748b, 1537px 586px #64748b, 1589px 903px #64748b, 1063px 1694px #64748b,
    760px 1185px #64748b, 597px 1396px #64748b, 294px 452px #64748b, 433px 818px #64748b, 199px 840px #64748b,
    1332px 1937px #64748b, 169px 1907px #64748b, 591px 834px #64748b, 1716px 1032px #64748b, 45px 1879px #64748b,
    686px 1469px #64748b, 1520px 475px #64748b, 1122px 859px #64748b, 973px 1541px #64748b, 269px 477px #64748b,
    1390px 716px #64748b, 1791px 783px #64748b, 824px 2000px #64748b, 1211px 1717px #64748b, 1008px 1587px #64748b,
    1422px 204px #64748b, 234px 556px #64748b, 506px 550px #64748b, 942px 1670px #64748b, 397px 853px #64748b,
    599px 795px #64748b, 762px 1926px #64748b, 1202px 1424px #64748b, 135px 1316px #64748b, 1442px 1692px #64748b,
    977px 652px #64748b, 564px 1648px #64748b, 997px 1474px #64748b, 67px 1366px #64748b, 1860px 1451px #64748b,
    1105px 772px #64748b, 1886px 1396px #64748b, 1510px 658px #64748b, 976px 1544px #64748b, 894px 543px #64748b,
    1098px 1189px #64748b, 690px 77px #64748b, 770px 733px #64748b, 557px 1403px #64748b, 1758px 1623px #64748b,
    1341px 812px #64748b, 699px 967px #64748b, 277px 866px #64748b, 1526px 1828px #64748b, 8px 977px #64748b,
    1707px 952px #64748b, 12px 1900px #64748b, 72px 921px #64748b, 496px 1067px #64748b, 1288px 1749px #64748b,
    273px 984px #64748b, 1197px 1991px #64748b, 242px 789px #64748b, 903px 1035px #64748b, 480px 1492px #64748b,
    102px 1331px #64748b, 738px 1343px #64748b, 560px 1475px #64748b, 367px 846px #64748b, 1420px 962px #64748b,
    1976px 892px #64748b, 1911px 1763px #64748b, 1639px 1002px #64748b, 437px 1522px #64748b, 1906px 1025px #64748b,
    730px 1364px #64748b, 1127px 521px #64748b, 1401px 1792px #64748b, 1954px 1066px #64748b, 232px 250px #64748b,
    1685px 660px #64748b, 1011px 999px #64748b, 1970px 790px #64748b, 750px 499px #64748b, 1738px 660px #64748b,
    1621px 1849px #64748b, 446px 52px #64748b, 1055px 1396px #64748b, 1165px 1497px #64748b, 1740px 1425px #64748b,
    1012px 1920px #64748b, 1258px 1560px #64748b, 1020px 1152px #64748b, 362px 673px #64748b, 1065px 975px #64748b,
    582px 755px #64748b, 1271px 1479px #64748b, 719px 548px #64748b, 1602px 879px #64748b, 590px 499px #64748b,
    721px 1412px #64748b, 1180px 113px #64748b, 1801px 1961px #64748b, 589px 941px #64748b, 883px 476px #64748b,
    214px 890px #64748b, 1028px 892px #64748b, 1107px 1832px #64748b, 944px 361px #64748b, 480px 1453px #64748b,
    1466px 683px #64748b, 981px 745px #64748b, 1968px 828px #64748b, 657px 1830px #64748b, 11px 1338px #64748b,
    179px 730px #64748b, 1713px 197px #64748b, 51px 955px #64748b, 1243px 319px #64748b, 1175px 624px #64748b,
    446px 46px #64748b, 5px 1158px #64748b, 82px 1352px #64748b, 1877px 402px #64748b, 708px 1778px #64748b,
    903px 1625px #64748b, 1824px 352px #64748b, 1229px 140px #64748b, 1518px 24px #64748b, 1017px 512px #64748b,
    515px 699px #64748b, 295px 265px #64748b, 69px 1773px #64748b, 1640px 1163px #64748b, 536px 342px #64748b,
    970px 1766px #64748b, 560px 1416px #64748b, 577px 193px #64748b, 469px 9px #64748b, 466px 276px #64748b,
    711px 853px #64748b, 401px 685px #64748b, 85px 506px #64748b, 865px 558px #64748b, 631px 105px #64748b,
    887px 866px #64748b, 1704px 1001px #64748b, 1051px 1199px #64748b, 275px 1909px #64748b, 1462px 829px #64748b,
    375px 1057px #64748b, 1531px 1501px #64748b, 205px 403px #64748b, 33px 1869px #64748b, 967px 1176px #64748b,
    376px 863px #64748b, 1769px 1545px #64748b, 535px 51px #64748b, 1972px 1569px #64748b, 1773px 960px #64748b,
    487px 620px #64748b, 1660px 687px #64748b, 1632px 972px #64748b, 1362px 42px #64748b, 479px 1655px #64748b,
    1531px 1808px #64748b, 1450px 1412px #64748b, 1549px 170px #64748b, 1904px 1305px #64748b, 1209px 48px #64748b,
    1933px 820px #64748b, 1623px 595px #64748b, 48px 643px #64748b, 179px 1754px #64748b, 589px 1032px #64748b,
    1199px 356px #64748b, 1755px 1418px #64748b, 780px 1174px #64748b, 1905px 758px #64748b, 1567px 713px #64748b,
    1372px 705px #64748b, 456px 654px #64748b, 759px 690px #64748b, 452px 673px #64748b, 993px 1610px #64748b,
    1271px 188px #64748b, 343px 1750px #64748b, 1943px 1735px #64748b, 1717px 853px #64748b, 1247px 303px #64748b,
    1314px 1895px #64748b, 1203px 489px #64748b, 741px 469px #64748b, 4px 246px #64748b, 1515px 115px #64748b,
    606px 218px #64748b, 1966px 1471px #64748b, 177px 87px #64748b, 1575px 588px #64748b, 1136px 1386px #64748b,
    70px 1868px #64748b, 1053px 18px #64748b, 1124px 721px #64748b, 1748px 1181px #64748b, 191px 1387px #64748b,
    1931px 840px #64748b, 1088px 1603px #64748b, 634px 1255px #64748b, 814px 1434px #64748b, 585px 64px #64748b,
    1074px 1618px #64748b, 1692px 761px #64748b, 651px 643px #64748b, 193px 335px #64748b, 1103px 1447px #64748b,
    491px 1142px #64748b, 521px 408px #64748b, 536px 340px #64748b, 411px 1091px #64748b, 1646px 193px #64748b,
    1595px 1285px #64748b, 870px 1349px #64748b, 1085px 1013px #64748b, 204px 1864px #64748b, 1359px 299px #64748b,
    807px 964px #64748b, 219px 509px #64748b, 36px 1227px #64748b, 702px 1873px #64748b, 1471px 934px #64748b,
    1763px 792px #64748b, 973px 1957px #64748b, 987px 68px #64748b, 593px 1282px #64748b, 1900px 607px #64748b,
    407px 1659px #64748b, 587px 17px #64748b, 632px 158px #fff;
  -webkit-animation: animStar 600s linear infinite;
  -moz-animation: animStar 600s linear infinite;
  -ms-animation: animStar 600s linear infinite;
  animation: animStar 600s linear infinite;
}
#stars4:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #64748b, 1196px 1119px #64748b, 646px 740px #64748b, 335px 645px #64748b,
    1119px 1452px #64748b, 176px 1870px #64748b, 639px 1711px #64748b, 647px 1388px #64748b, 1516px 1108px #64748b,
    464px 66px #64748b, 331px 344px #64748b, 772px 1189px #64748b, 1516px 1850px #64748b, 1500px 1463px #64748b,
    1275px 876px #64748b, 1107px 645px #64748b, 977px 478px #64748b, 583px 1179px #64748b, 284px 395px #64748b,
    1220px 461px #64748b, 1160px 249px #64748b, 196px 865px #64748b, 670px 1915px #64748b, 1449px 382px #64748b,
    1191px 546px #64748b, 1329px 605px #64748b, 1945px 458px #64748b, 995px 749px #64748b, 1495px 861px #64748b,
    708px 1731px #64748b, 348px 653px #64748b, 548px 1298px #64748b, 1606px 990px #64748b, 1049px 1204px #64748b,
    253px 1501px #64748b, 1154px 166px #64748b, 1087px 104px #64748b, 1034px 1161px #64748b, 1681px 462px #64748b,
    577px 1897px #64748b, 193px 1901px #64748b, 1701px 1755px #64748b, 864px 1297px #64748b, 800px 1289px #64748b,
    676px 28px #64748b, 185px 1341px #64748b, 379px 1151px #64748b, 1224px 1725px #64748b, 280px 541px #64748b,
    473px 1196px #64748b, 921px 1628px #64748b, 969px 432px #64748b, 1475px 758px #64748b, 1195px 993px #64748b,
    876px 1840px #64748b, 1274px 1689px #64748b, 1977px 1101px #64748b, 837px 527px #64748b, 1785px 1610px #64748b,
    1650px 1843px #64748b, 1127px 1508px #64748b, 401px 1050px #64748b, 51px 1105px #64748b, 545px 880px #64748b,
    1786px 1672px #64748b, 318px 260px #64748b, 568px 254px #64748b, 1026px 1527px #64748b, 1242px 852px #64748b,
    1785px 982px #64748b, 1318px 1071px #64748b, 398px 1061px #64748b, 1509px 257px #64748b, 599px 928px #64748b,
    1195px 1800px #64748b, 1254px 906px #64748b, 141px 26px #64748b, 1384px 1502px #64748b, 476px 767px #64748b,
    1973px 722px #64748b, 1339px 1031px #64748b, 778px 818px #64748b, 213px 1320px #64748b, 184px 221px #64748b,
    983px 1911px #64748b, 923px 1439px #64748b, 1936px 581px #64748b, 1105px 625px #64748b, 325px 729px #64748b,
    1475px 204px #64748b, 1483px 1564px #64748b, 1327px 1272px #64748b, 1187px 1944px #64748b,
    1945px 1471px #64748b, 116px 960px #64748b, 1660px 1610px #64748b, 412px 1022px #64748b, 1552px 1516px #64748b,
    1517px 1892px #64748b, 306px 829px #64748b, 1416px 462px #64748b, 1575px 1460px #64748b, 424px 1500px #64748b,
    1530px 1169px #64748b, 1388px 1608px #64748b, 185px 416px #64748b, 634px 1446px #64748b, 767px 479px #64748b,
    71px 426px #64748b, 1937px 145px #64748b, 1955px 1312px #64748b, 1811px 611px #64748b, 1145px 569px #64748b,
    1460px 676px #64748b, 131px 1858px #64748b, 1557px 473px #64748b, 735px 130px #64748b, 112px 1531px #64748b,
    1312px 305px #64748b, 409px 1032px #64748b, 149px 1964px #64748b, 535px 1215px #64748b, 1382px 630px #64748b,
    1437px 1368px #64748b, 362px 1181px #64748b, 388px 181px #64748b, 274px 1287px #64748b, 1858px 1414px #64748b,
    661px 1935px #64748b, 675px 1205px #64748b, 1829px 1725px #64748b, 1937px 1145px #64748b, 237px 908px #64748b,
    1059px 1185px #64748b, 824px 1248px #64748b, 1167px 1730px #64748b, 180px 1961px #64748b, 1663px 203px #64748b,
    374px 221px #64748b, 724px 1883px #64748b, 970px 1362px #64748b, 832px 505px #64748b, 313px 233px #64748b,
    1909px 597px #64748b, 434px 201px #64748b, 587px 995px #64748b, 1833px 623px #64748b, 1464px 561px #64748b,
    231px 593px #64748b, 1558px 1433px #64748b, 1986px 1767px #64748b, 1753px 1728px #64748b, 1153px 1623px #64748b,
    249px 229px #64748b, 1503px 1186px #64748b, 1784px 137px #64748b, 841px 403px #64748b, 1400px 354px #64748b,
    197px 499px #64748b, 1188px 681px #64748b, 158px 391px #64748b, 443px 1099px #64748b, 723px 1445px #64748b,
    1408px 1235px #64748b, 1908px 195px #64748b, 271px 891px #64748b, 469px 1693px #64748b, 580px 11px #64748b,
    1533px 70px #64748b, 859px 761px #64748b, 1510px 1844px #64748b, 421px 558px #64748b, 1132px 1453px #64748b,
    757px 1987px #64748b, 212px 293px #64748b, 569px 323px #64748b, 1404px 1394px #64748b, 252px 1386px #64748b,
    1668px 1857px #64748b, 123px 1684px #64748b, 105px 490px #64748b, 1083px 1769px #64748b, 1071px 1953px #64748b,
    1271px 1159px #64748b, 699px 1491px #64748b, 1744px 1997px #64748b, 1868px 1973px #64748b,
    1438px 1449px #64748b, 1222px 1921px #64748b, 1328px 1210px #64748b, 438px 873px #64748b, 809px 780px #64748b,
    491px 1524px #64748b, 447px 1830px #64748b, 927px 1936px #64748b, 564px 691px #64748b, 1784px 1747px #64748b,
    1978px 1722px #64748b, 1599px 1480px #64748b, 1276px 729px #64748b, 731px 1174px #64748b, 1586px 1711px #64748b,
    451px 1340px #64748b, 1075px 1899px #64748b, 13px 575px #64748b, 309px 1340px #64748b, 981px 183px #64748b,
    248px 1315px #64748b, 849px 80px #64748b, 1754px 1540px #64748b, 73px 1432px #64748b, 1208px 1828px #64748b,
    65px 575px #64748b, 1098px 730px #64748b, 127px 1358px #64748b, 185px 19px #64748b, 1222px 1679px #64748b,
    1122px 315px #64748b, 1906px 452px #64748b, 761px 284px #64748b, 813px 492px #64748b, 1344px 843px #64748b,
    118px 1834px #64748b, 1620px 359px #64748b, 1755px 1246px #64748b, 299px 1076px #64748b, 1746px 158px #64748b,
    6px 1635px #64748b, 143px 190px #64748b, 101px 468px #64748b, 137px 971px #64748b, 1221px 1929px #64748b,
    1752px 650px #64748b, 1635px 1761px #64748b, 1522px 833px #64748b, 908px 153px #64748b, 1044px 350px #64748b,
    1151px 1940px #64748b, 822px 210px #64748b, 1774px 310px #64748b, 796px 1447px #64748b, 1069px 1903px #64748b,
    217px 565px #64748b, 662px 1370px #64748b, 1876px 1570px #64748b, 847px 46px #64748b, 1042px 1689px #64748b,
    1584px 1434px #64748b, 1791px 908px #64748b, 973px 908px #64748b, 793px 747px #64748b, 122px 483px #64748b,
    1137px 1374px #64748b, 1757px 1791px #64748b, 513px 225px #64748b, 63px 731px #64748b, 1179px 1926px #64748b,
    346px 18px #64748b, 589px 175px #64748b, 87px 302px #64748b, 380px 1295px #64748b, 450px 921px #64748b,
    1667px 1973px #64748b, 1495px 1373px #64748b, 1462px 1850px #64748b, 540px 288px #64748b, 1208px 1051px #64748b,
    1554px 1095px #64748b, 1009px 1516px #64748b, 181px 572px #64748b, 165px 387px #64748b, 549px 1835px #64748b,
    960px 16px #64748b, 1360px 403px #64748b, 1251px 43px #64748b, 1905px 1813px #64748b, 1106px 866px #64748b,
    1809px 277px #64748b, 1828px 1720px #64748b, 295px 1610px #64748b, 523px 166px #64748b, 1069px 692px #64748b,
    1292px 217px #64748b, 11px 1721px #64748b, 99px 1045px #64748b, 51px 1584px #64748b, 1053px 266px #64748b,
    1287px 1235px #64748b, 747px 1722px #64748b, 1542px 736px #64748b, 1256px 18px #64748b, 102px 609px #64748b,
    586px 1339px #64748b, 1843px 1697px #64748b, 824px 1687px #64748b, 1124px 882px #64748b, 395px 501px #64748b,
    1456px 672px #64748b, 1472px 1648px #64748b, 1326px 1164px #64748b, 777px 1672px #64748b, 81px 345px #64748b,
    91px 386px #64748b, 243px 411px #64748b, 1560px 90px #64748b, 6px 1771px #64748b, 1601px 616px #64748b,
    1220px 1808px #64748b, 1160px 836px #64748b, 246px 1777px #64748b, 456px 863px #64748b, 97px 1138px #64748b,
    1811px 942px #64748b, 213px 414px #64748b, 891px 392px #64748b, 1044px 927px #64748b, 1856px 216px #64748b,
    957px 347px #64748b, 1486px 406px #64748b, 838px 912px #64748b, 803px 361px #64748b, 564px 826px #64748b,
    1597px 949px #64748b, 1206px 289px #64748b, 33px 1035px #64748b, 1762px 1377px #64748b, 789px 1815px #64748b,
    1594px 1342px #64748b, 1668px 880px #64748b, 1539px 1581px #64748b, 1547px 53px #64748b, 861px 1433px #64748b,
    693px 1618px #64748b, 1762px 782px #64748b, 1568px 682px #64748b, 1126px 1762px #64748b, 1242px 134px #64748b,
    495px 959px #64748b, 1606px 219px #64748b, 1878px 1415px #64748b, 1652px 797px #64748b, 782px 1903px #64748b,
    1774px 1133px #64748b, 1430px 408px #64748b, 265px 394px #64748b, 890px 336px #64748b, 1051px 311px #64748b,
    461px 1559px #64748b, 1931px 91px #64748b, 1160px 380px #64748b, 1442px 1058px #64748b, 1157px 364px #64748b,
    586px 227px #64748b, 1365px 715px #64748b, 1658px 1655px #64748b, 1923px 1664px #64748b, 1023px 1844px #64748b,
    1939px 1367px #64748b, 1203px 1305px #64748b, 359px 642px #64748b, 1056px 425px #64748b, 787px 202px #64748b,
    1609px 1850px #64748b, 1964px 200px #64748b, 1537px 586px #64748b, 1589px 903px #64748b, 1063px 1694px #64748b,
    760px 1185px #64748b, 597px 1396px #64748b, 294px 452px #64748b, 433px 818px #64748b, 199px 840px #64748b,
    1332px 1937px #64748b, 169px 1907px #64748b, 591px 834px #64748b, 1716px 1032px #64748b, 45px 1879px #64748b,
    686px 1469px #64748b, 1520px 475px #64748b, 1122px 859px #64748b, 973px 1541px #64748b, 269px 477px #64748b,
    1390px 716px #64748b, 1791px 783px #64748b, 824px 2000px #64748b, 1211px 1717px #64748b, 1008px 1587px #64748b,
    1422px 204px #64748b, 234px 556px #64748b, 506px 550px #64748b, 942px 1670px #64748b, 397px 853px #64748b,
    599px 795px #64748b, 762px 1926px #64748b, 1202px 1424px #64748b, 135px 1316px #64748b, 1442px 1692px #64748b,
    977px 652px #64748b, 564px 1648px #64748b, 997px 1474px #64748b, 67px 1366px #64748b, 1860px 1451px #64748b,
    1105px 772px #64748b, 1886px 1396px #64748b, 1510px 658px #64748b, 976px 1544px #64748b, 894px 543px #64748b,
    1098px 1189px #64748b, 690px 77px #64748b, 770px 733px #64748b, 557px 1403px #64748b, 1758px 1623px #64748b,
    1341px 812px #64748b, 699px 967px #64748b, 277px 866px #64748b, 1526px 1828px #64748b, 8px 977px #64748b,
    1707px 952px #64748b, 12px 1900px #64748b, 72px 921px #64748b, 496px 1067px #64748b, 1288px 1749px #64748b,
    273px 984px #64748b, 1197px 1991px #64748b, 242px 789px #64748b, 903px 1035px #64748b, 480px 1492px #64748b,
    102px 1331px #64748b, 738px 1343px #64748b, 560px 1475px #64748b, 367px 846px #64748b, 1420px 962px #64748b,
    1976px 892px #64748b, 1911px 1763px #64748b, 1639px 1002px #64748b, 437px 1522px #64748b, 1906px 1025px #64748b,
    730px 1364px #64748b, 1127px 521px #64748b, 1401px 1792px #64748b, 1954px 1066px #64748b, 232px 250px #64748b,
    1685px 660px #64748b, 1011px 999px #64748b, 1970px 790px #64748b, 750px 499px #64748b, 1738px 660px #64748b,
    1621px 1849px #64748b, 446px 52px #64748b, 1055px 1396px #64748b, 1165px 1497px #64748b, 1740px 1425px #64748b,
    1012px 1920px #64748b, 1258px 1560px #64748b, 1020px 1152px #64748b, 362px 673px #64748b, 1065px 975px #64748b,
    582px 755px #64748b, 1271px 1479px #64748b, 719px 548px #64748b, 1602px 879px #64748b, 590px 499px #64748b,
    721px 1412px #64748b, 1180px 113px #64748b, 1801px 1961px #64748b, 589px 941px #64748b, 883px 476px #64748b,
    214px 890px #64748b, 1028px 892px #64748b, 1107px 1832px #64748b, 944px 361px #64748b, 480px 1453px #64748b,
    1466px 683px #64748b, 981px 745px #64748b, 1968px 828px #64748b, 657px 1830px #64748b, 11px 1338px #64748b,
    179px 730px #64748b, 1713px 197px #64748b, 51px 955px #64748b, 1243px 319px #64748b, 1175px 624px #64748b,
    446px 46px #64748b, 5px 1158px #64748b, 82px 1352px #64748b, 1877px 402px #64748b, 708px 1778px #64748b,
    903px 1625px #64748b, 1824px 352px #64748b, 1229px 140px #64748b, 1518px 24px #64748b, 1017px 512px #64748b,
    515px 699px #64748b, 295px 265px #64748b, 69px 1773px #64748b, 1640px 1163px #64748b, 536px 342px #64748b,
    970px 1766px #64748b, 560px 1416px #64748b, 577px 193px #64748b, 469px 9px #64748b, 466px 276px #64748b,
    711px 853px #64748b, 401px 685px #64748b, 85px 506px #64748b, 865px 558px #64748b, 631px 105px #64748b,
    887px 866px #64748b, 1704px 1001px #64748b, 1051px 1199px #64748b, 275px 1909px #64748b, 1462px 829px #64748b,
    375px 1057px #64748b, 1531px 1501px #64748b, 205px 403px #64748b, 33px 1869px #64748b, 967px 1176px #64748b,
    376px 863px #64748b, 1769px 1545px #64748b, 535px 51px #64748b, 1972px 1569px #64748b, 1773px 960px #64748b,
    487px 620px #64748b, 1660px 687px #64748b, 1632px 972px #64748b, 1362px 42px #64748b, 479px 1655px #64748b,
    1531px 1808px #64748b, 1450px 1412px #64748b, 1549px 170px #64748b, 1904px 1305px #64748b, 1209px 48px #64748b,
    1933px 820px #64748b, 1623px 595px #64748b, 48px 643px #64748b, 179px 1754px #64748b, 589px 1032px #64748b,
    1199px 356px #64748b, 1755px 1418px #64748b, 780px 1174px #64748b, 1905px 758px #64748b, 1567px 713px #64748b,
    1372px 705px #64748b, 456px 654px #64748b, 759px 690px #64748b, 452px 673px #64748b, 993px 1610px #64748b,
    1271px 188px #64748b, 343px 1750px #64748b, 1943px 1735px #64748b, 1717px 853px #64748b, 1247px 303px #64748b,
    1314px 1895px #64748b, 1203px 489px #64748b, 741px 469px #64748b, 4px 246px #64748b, 1515px 115px #64748b,
    606px 218px #64748b, 1966px 1471px #64748b, 177px 87px #64748b, 1575px 588px #64748b, 1136px 1386px #64748b,
    70px 1868px #64748b, 1053px 18px #64748b, 1124px 721px #64748b, 1748px 1181px #64748b, 191px 1387px #64748b,
    1931px 840px #64748b, 1088px 1603px #64748b, 634px 1255px #64748b, 814px 1434px #64748b, 585px 64px #64748b,
    1074px 1618px #64748b, 1692px 761px #64748b, 651px 643px #64748b, 193px 335px #64748b, 1103px 1447px #64748b,
    491px 1142px #64748b, 521px 408px #64748b, 536px 340px #64748b, 411px 1091px #64748b, 1646px 193px #64748b,
    1595px 1285px #64748b, 870px 1349px #64748b, 1085px 1013px #64748b, 204px 1864px #64748b, 1359px 299px #64748b,
    807px 964px #64748b, 219px 509px #64748b, 36px 1227px #64748b, 702px 1873px #64748b, 1471px 934px #64748b,
    1763px 792px #64748b, 973px 1957px #64748b, 987px 68px #64748b, 593px 1282px #64748b, 1900px 607px #64748b,
    407px 1659px #64748b, 587px 17px #64748b, 632px 158px #fff;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
  }
}
@-moz-keyframes animStar {
  from {
    -moz-transform: translateY(0px);
  }
  to {
    -moz-transform: translateY(-2000px);
  }
}
@-ms-keyframes animStar {
  from {
    -ms-transform: translateY(0px);
  }
  to {
    -ms-transform: translateY(-2000px);
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}